* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.tweet-container {
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  background-color: #000;
  padding: 1rem;
  width: 400px;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
}

.tweet-avatar {
  width: 48px;
  display: flex;
}

.tweet-avatar img {
  height: 100%;
  width: 100%;
  border-radius: 50px;
}

.tweet-titles {
  padding: 0.1rem 1rem;
  line-height: 1.45rem;
}

.tweet-titles span:nth-of-type(1):hover {
  cursor: pointer;
  text-decoration: underline;
}

.tweet-name {
  color: #FFF;
  font-size: 0.938rem;
  font-weight: bold;
  white-space: nowrap;
  min-width: 0px;
}

.tweet-avatar i {
  font-size: 0.938rem;
  color: #FFF;
  padding-left: 0.1rem;
}

.tweet-username {
  font-size: 0.938rem;
  color: #9C9C9C;
}

.tweet p {
  color: #FFF;
  font-size: 0.938rem;
  padding-top: 0.75rem;
}

.tweet-links {
  color: rgb(29, 155, 240);
  font-size: 0.938rem;
}

.tweet-links:hover {
  text-decoration: underline;
  cursor: pointer;
  overflow-wrap: break-word;
}

.tweet-hashtag {
  color: rgb(29, 155, 240) !important;
  line-height: 2.5rem;
  font-size: 0.938rem;
}

.tweet-hashtag:hover {
  text-decoration: underline;
  cursor: pointer;
}

.tweet-img {
  padding-top: 1rem;
  height: auto;
}

.tweet-img img {
  height: 100%;
  width: 100%;
  border-radius: 12px;
  cursor: pointer;
}

.tweet-interactions {
  display: flex;
  justify-content: space-between;
  padding-top: 0.75rem;
}

.tweet-interactions i {
  color: rgb(110, 118, 125);
  font-size: 0.875rem;
  padding: 0.5rem;
}

.tweet-interactions span {
  color: rgb(110, 118, 125);
  font-size: 0.875rem;
}

.comment-interaction,
.retweet-interaction,
.like-interaction {
  padding: 0.875rem;
  max-width: 100%;
}

.comment-interaction i:hover {
  transition: 200ms ease-out;
  background-color: rgb(110, 118, 125);
  border-radius: 50px;
  color: #1DA1F2;
  cursor: pointer;
}

.retweet-interaction i:hover {
  transition: 200ms ease-out;
  background-color: rgb(110, 118, 125);
  border-radius: 100px;
  color: #19CF86;
  cursor: pointer;
}

.like-interaction i:hover {
  transition: 200ms ease-out;
  background-color: rgb(110, 118, 125);
  border-radius: 50px;
  color: #E81C4F;
  cursor: pointer;
}

.comment-interaction span:hover {
  transition: 200ms ease-out;
  border-radius: 50px;
  color: #1DA1F2;
  cursor: pointer;
}

.retweet-interaction span:hover {
  transition: 200ms ease-out;
  border-radius: 50px;
  color: #19CF86;
  cursor: pointer;
}

.like-interaction span:hover {
  transition: 200ms ease-out;
  border-radius: 50px;
  color: #E81C4F;
  cursor: pointer;
}
